<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvye.mindtrip.module.psychology.dal.mysql.counselor.StudentCounselorAssignmentMapper">

    <!-- 更新学生原有的咨询师分配为失效状态 -->
    <update id="updateToInactive">
        UPDATE lvye_student_counselor_assignment
        SET status = 2,
            update_time = NOW(),
            updater = #{@com.lvye.mindtrip.framework.web.core.util.WebFrameworkUtils@getLoginUserId()}
        WHERE student_profile_id = #{studentProfileId}
          AND assignment_type = #{assignmentType}
          AND status = 1
          AND deleted = 0
    </update>

</mapper>