<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.psychology.dal.mysql.assessment.AssessmentTaskQuestionnaireMapper">

    <resultMap id="BaseResultMap" type="cn.iocoder.yudao.module.psychology.dal.dataobject.assessment.AssessmentTaskQuestionnaireDO">
        <id column="id" property="id" />
        <result column="task_no" property="taskNo" />
        <result column="questionnaire_id" property="questionnaireId" />
        <result column="slot_key" property="slotKey" />
        <result column="slot_order" property="slotOrder" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <select id="selectQuestionnaireIdsByTaskNo" resultType="java.lang.Long">
        SELECT questionnaire_id FROM lvye_assessment_task_questionnaire
        WHERE deleted = b'0'
          AND task_no = #{taskNo}
          AND tenant_id = #{tenantId}
    </select>

    <insert id="insertBatch">
        INSERT INTO lvye_assessment_task_questionnaire
        (task_no, questionnaire_id, slot_key, slot_order, creator, create_time, updater, update_time, deleted, tenant_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.taskNo}, #{item.questionnaireId}, #{item.slotKey}, #{item.slotOrder}, #{item.creator}, NOW(), #{item.updater}, NOW(), b'0', #{item.tenantId})
        </foreach>
    </insert>

    <insert id="insert">
        INSERT INTO lvye_assessment_task_questionnaire
        (task_no, questionnaire_id, slot_key, slot_order, creator, create_time, updater, update_time, deleted, tenant_id)
        VALUES (#{taskNo}, #{questionnaireId}, #{slotKey}, #{slotOrder}, #{creator}, NOW(), #{updater}, NOW(), b'0', #{tenantId})
    </insert>

    <select id="selectListByTaskNo" resultMap="BaseResultMap">
        SELECT * FROM lvye_assessment_task_questionnaire
        WHERE deleted = b'0'
          AND task_no = #{taskNo}
          AND tenant_id = #{tenantId}
        ORDER BY slot_order IS NULL, slot_order, id
    </select>

</mapper>


