<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.psychology.dal.mysql.quickreport.QuickReportMapper">

    <select id="selectPageList"
            resultType="cn.iocoder.yudao.module.psychology.controller.admin.quickreport.vo.QuickReportVO">
        SELECT
        a.id,
        a.student_profile_id,
        a.reporter_id,
        a.report_title,
        a.report_content,
        a.urgency_level,
        a.incident_time,
        a.report_time,
        a.status,
        a.handler_id,
        a.handle_notes,
        a.handle_time,
        a.follow_up_required,
        a.tags,
        a.attachments,
        b.nickname as reporter,
        c.nickname as handler,
        d.name as studentName
        FROM lvye_psychology_quick_report a
        LEFT JOIN system_users b ON a.reporter_id = b.id
        LEFT JOIN system_users c ON a.handler_id = c.id
        LEFT JOIN lvye_student_profile d ON a.student_profile_id = d.id
        WHERE a.deleted = 0
        <if test="pageReqVO.userId != null">
            AND (a.reporter_id = #{pageReqVO.userId} or a.handler_id = #{pageReqVO.userId})
        </if>
        <if test="pageReqVO.reportTitle != null and pageReqVO.reportTitle !=''">
            AND a.report_title LIKE CONCAT('%',#{pageReqVO.reportTitle},'%')
        </if>
        <if test="pageReqVO.studentName != null and pageReqVO.studentName !=''">
            AND d.name LIKE CONCAT('%',#{pageReqVO.studentName},'%')
        </if>
        <if test="pageReqVO.status != null">
            AND a.status = #{pageReqVO.status}
        </if>
        <if test="pageReqVO.urgencyLevel != null">
            AND a.urgency_level = #{pageReqVO.urgencyLevel}
        </if>
        <if test="pageReqVO.followUpRequired != null">
            AND a.follow_up_required = #{pageReqVO.followUpRequired}
        </if>
        <if test="pageReqVO.reporter != null and pageReqVO.reporter !=''">
            AND b.nickname = #{pageReqVO.reporter}
        </if>
        <if test="pageReqVO.handler != null and pageReqVO.handler !=''">
            AND c.nickname = #{pageReqVO.handler}
        </if>
    </select>

</mapper>