<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.system.dal.mysql.permission.UserRoleMapper">

    <select id="selectUserListByRoleIdAndDeptId"
            resultType="cn.iocoder.yudao.module.system.api.user.dto.QuickReportHandleUserVO">
        select a.user_id, c.name as role_name, b.nickname as name from system_user_role a
        left join system_users b on b.id = a.user_id
        left join system_role c on c.id = a.role_id
        where a.deleted = 0 and b.deleted = 0 and a.role_id = #{roleId}
        <if test="deptId != null">
            and b.dept_id = #{deptId}
        </if>
    </select>

</mapper>